.feedbackbtn{
  background-color: rgb(3, 3, 50);
  color: white;
}
.feedbackbtn:active{
  background-color: #841ECC;
  color: white;
}
.iconclr{
  color: #841ECC;
  margin: 0px 5px;
}

.entirequizpart{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f6f7f8; 
    border: 0px;
}