/* Default styles for sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Hidden by default */
    width: 250px;
    height: 100%;
    background-color: #891891;
    transition: left 0.3s ease;
    z-index: 1000; /* Ensure sidebar appears above other content */
  }
  
  /* Show sidebar on large devices */
  @media (min-width: 992px) {
    .sidebar {
      left: 0; /* Displayed on the left */
    }
  }
  
  /* Toggle button styles */
  .sidebar-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    z-index: 1100; /* Ensure toggle button appears above sidebar */
  }
  
  .sidebar-toggle:hover {
    background-color: #7d0675;
  }
  
  /* Navbar styles for small devices */
  @media (max-width: 991px) {
    .sidebar {
      display: none; /* Hide sidebar on small devices */
    }
  }
  