.clricon {
    color: #F99420; 
  }



.sidebartext{
    color: black;
    padding: 5px;
    border: 0px;
    text-decoration: none;
}

.sidebartext:hover{
    color:  #6705AD;
    box-shadow: 1px 1px 2px 1px rgb(195, 194, 194);
    border-radius: 5px;
    border: 0px;
}


.sidetext{
    font-size: 20px;
   }