.bghead{
    background-color: blueviolet;
}z
.bgpurplecard{
background-color: rgb(209, 180, 235);

}

.custom-radio input[type="radio"] {
  cursor: pointer; 
}

input[type="checkbox"]{
    cursor: pointer;   
}


